# .env
# 이 파일을 복사해서 .env 파일을 만들고 실제 정보를 입력하세요.

SECRET_KEY=dev-secret-key-12345

# MariaDB 연결 정보 (각자 로컬 또는 공유 서버 정보 입력)
DB_USER=root
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=3306
DB_NAME=stocklab

# Flask 설정
FLASK_APP=run.py
FLASK_ENV=development

# 한국투자증권 API
KIS_APP_KEY=
KIS_APP_SECRET=
GEMINI_MODEL="gemini-1.5-flash"
GEMINI_API_KEY="your_gemini_api_key"
GOOGLE_CLOUD_PROJECT="your_google_cloud_project_id"

# KIS URL 설정
IMMITATION_DOMAIN=https://openapi.koreainvestment.com:9443
IMMITATION_DOMAIN_WS=ws://openapi.koreainvestment.com:9443

# KIS 임시 토큰 (발급받은 경우)
KIS_APPROVAL_KEY=
KIS_ACCESS_TOKEN=
