# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/
.env
.agents

# Secrets
.env

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Release Tests
Dockerfile
docker-compose.yml

# Logs
app/features/analysis/*.log
